@use "../0-base/variables";
@use "../0-base/medias";

#header {
    width: 100%;
    min-height: 100vh;

    background-image: url('../../assets/img/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

        .blobs {
            position: absolute;
            bottom: 0;
            z-index: 1;
        }

        .blobs-left {
            left: 0;
        }

        .blobs-right {
            right: 0;
        }

        @include medias.small {
            .blobs {
                width: 180px;
            }
        }

        @include medias.small-medium {
            .blobs {
                width: 180px;
            }
        }
}

#nav {
    background: rgba(0, 0, 0, 0.30);
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .logo {
        color: #fff;
        width: 16rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @include medias.small {
            width: 12rem;
        }

        @include medias.small-medium {
            width: 12rem;
        }
    }

    .nav-content {
        max-width: 94rem;
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .btn-menu {
        width: 2.8rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: none;

        @include medias.small {
            display: block;
        }

        @include medias.small-medium {
            display: block;
        }
    }

    .btn-close {
        position: absolute;
        top: 15px;
        left: 15px;
        display: none;
        button {
            font-size: 3.8rem;
            background-color: transparent;
            color: #fff;
            padding: 1.2rem;
            cursor: pointer;
            border: none;
        }

        @include medias.small {
            display: block;
        }

        @include medias.small-medium {
            display: block;
        }
    }

    .nav-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        transition: .5s ease;

            .nav-link {
                font-weight: 300;
                color: #fff;
                padding: 1.2rem 0;
                transition: .5s ease;
                font-size: 1.4rem;

                &:hover {
                    color: variables.$primary-color;
                }
            }

            @include medias.small {
                position: fixed;
                top: 0;
                right: -100%;
                height: 100%;
                z-index: 99;
                width: 80%;
                flex-direction: column;
                background: rgba(0, 0, 0, 0.9);
            }

            @include medias.small-medium {
                position: fixed;
                top: 0;
                right: -100%;
                height: 100%;
                z-index: 99;
                width: 80%;
                flex-direction: column;
                background: rgba(0, 0, 0, 0.9);
            }
    }

    .active {
        right: 0;
    }

    .btn-nav {
        margin-left: 2.2rem;
    }
}

.header-content {
    height: calc(100vh - 10rem);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    flex-direction: column;

    @include medias.small {
        min-height: 68rem;

        .mouse {
            display: none;
        }
    }

    @include medias.small-medium {
        min-height: 68rem;

        .mouse {
            display: none;
        }
    }



        .mouse {
            margin-top: 4rem;
            animation-name: mouse-animation;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: ease;
            animation-direction: alternate;
        }

        h1 {
           font-weight: 700;
           font-size: 4.2rem;
           max-width: 48rem;
           line-height: 130%;

            @include medias.small {
                font-size: 2.4rem;
                max-width: 33rem;
            }

            @include medias.small-medium {
                font-size: 2.4rem;
                max-width: 33rem;
            }
        }

        h2 {
           font-weight: 300;
           font-size: 1.6rem;
           margin: 1.8rem 0;
           max-width: 60rem;

           @include medias.small {
            font-size: 1.4rem;
         }
         @include medias.small-medium {
            font-size: 1.4rem;
         }
        }

        .line {
            background-color: #fff;
            max-width: 35.6rem;
            height: .1rem;
            width: 100%;
        }

        .btn-header {
            margin-top: 6rem;
        }
}

@keyframes mouse-animation {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(40px);

    }
}