@use "../0-base/variables";
@use "../0-base/medias";

#about {
  padding-top: 8.6rem;
  padding-bottom: 19rem;
  display: flex;
  flex-direction: column;
  gap: 6.2rem;
  position: relative;
  overflow-y: hidden;

  .rectangle {
    position: absolute;
    z-index: -1;
    pointer-events: none;
  }

  .rectangle:nth-child(1) {
    right: 0;
    bottom: 20px;
  }

  .rectangle:nth-child(2) {
    left: -58px;
    bottom: -50px;
  }

  @include medias.small {
    .rectangle:nth-child(1) {
      width: 6rem;
    }

    .rectangle:nth-child(2) {
      width: 10rem;
    }
  }

  @include medias.small-medium {
    .rectangle:nth-child(1) {
      width: 6rem;
    }

    .rectangle:nth-child(2) {
      width: 10rem;
    }
  }

  @include medias.medium {
    .rectangle:nth-child(1) {
      width: 6rem;
    }

    .rectangle:nth-child(2) {
      width: 10rem;
      top: 0;
    }
  }
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 5.8rem;
  margin-top: 6.2rem;

  @include medias.small {
    flex-direction: column;
  }

  @include medias.small-medium {
    flex-direction: column;
  }

  h3 {
    font-weight: 500;
    font-size: 2.6rem;
    max-width: 35.5rem;
    margin-bottom: 1.6rem;

    @include medias.small {
      font-size: 1.8rem;
      max-width: 24.5rem;
    }

    @include medias.small-medium {
      font-size: 1.8rem;
      max-width: 24.5rem;
    }

    @include medias.medium {
      font-size: 1.8rem;
    }
  }

  p {
    line-height: 180%;
    max-width: 58rem;

    @include medias.small {
      font-size: 1.4rem;
    }

    @include medias.small-medium {
      font-size: 1.4rem;
    }

    @include medias.medium {
      font-size: 1.4rem;
    }
  }
}

.about-carousel-container {
  width: 38rem;
  height: 263.843px;
  position: relative;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      pointer-events: none;
      transition: 3s ease;
    }

    img.shown {
      opacity: 1;
      pointer-events: all;
    }

  .background {
    background: #fff;
    box-shadow: 0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.04),
      0px 100px 80px 0px rgba(0, 0, 0, 0.07);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 32px;
    top: 20px;
    z-index: -1;
  }

  @include medias.small {
    
    .background {
      left: 10px;
      top: 15px;
    }
  }

  @include medias.small-medium {

    .background {
      left: 10px;
      top: 15px;
    }
  }
}

/* More */

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52rem;
  place-items: center;
  background-color: black;

  @include medias.small {
    flex-direction: column;
    height: auto;
  }

  @include medias.small-medium {
    flex-direction: column;
    height: auto;
  }

  .more-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;


      img {
        transition: .5s ease;
      }
  }

  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
    background: linear-gradient(
      0,
      #1a1a1a 1.96%,
      rgba(0, 0, 0, 0.66) 63.98%,
      rgba(0, 0, 0, 0.31) 113.24%,
      rgba(0, 0, 0, 0) 151.02%
    );
  }

  .more-content {
    position: absolute;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;

    &:hover {

        ~ img {
          transform: scale(1.05);
        }
    }
  }

  h2 {
    color: #fff;
    font-weight: 100;
    font-size: 2.8rem;

    @include medias.small {
      font-size: 2.2rem;
    }

    @include medias.small-medium {
      font-size: 2.2rem;
    }
  }

  h2.one {
    max-width: 24rem;
  }

  h2.two {
    max-width: 32rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
}

/* Services */

#services {
  color: #fff;
  padding-top: 8.6rem;
  background: rgb(20, 20, 20);
  background: linear-gradient(
    -190deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(16, 16, 16, 1) 70%,
    rgba(211, 213, 72, 1) 140%
  );
  padding-bottom: 10.6rem;

  .services-cards {
    margin: 6rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;

      @include medias.medium {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
  }

  .services-card {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    width: 22rem;
    height: 16.9rem;
    text-align: center;
    background: #0c0c0c;
    box-shadow: 0px 1.52952px 8.24613px 0px rgba(211, 213, 72, 0.03),
      0px 5.13735px 27.69702px 0px rgba(211, 213, 72, 0.04),
      0px 23px 124px 0px rgba(211, 213, 72, 0.07);
    padding: 14px;
    transition: 0.5s ease;
    cursor: pointer;

    @include medias.small {
      width: 90%;
      height: 18.9rem;
      margin: 0 auto;
    }

    @include medias.small-medium {
      width: 90%;
      height: 18.9rem;
      margin: 0 auto;
    }

    @include medias.medium {
      width: 100%;
    }


    &:hover {
      box-shadow: 0px 0.3623px 3.62304px 0px rgba(211, 213, 72, 0.17),
        0px 1.00172px 10.01724px 0px rgba(211, 213, 72, 0.25),
        0px 2.41177px 24.11766px 0px rgba(211, 213, 72, 0.32),
        0px 8px 80px 0px rgba(211, 213, 72, 0.49);
    }

    .image-service {
      height: 65%;
      display: grid;
      place-items: center;
    }

    img {
      width: 42px;
    }

    p {
      flex: 1;
      font-size: 1.4rem;
      font-weight: 200;
    }
  }

  .btn-service-container {
    text-align: center;
    margin-bottom: 8rem;
  }
}

.patrocinios {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5.4rem;
  overflow-x: hidden;
  padding-left: 3.2rem;

  h3 {
    flex-shrink: 0;
    animation: slider-text 40s linear infinite alternate;
  }

  strong {
    font-weight: 200;
    color: #a8a6a6;
    font-weight: 400;
    font-size: 2.6rem;
  }
}

@keyframes slider-text {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-3000px, 0, 0);
  }
}

/* Contato */

#agendar {
  padding-top: 8.6rem;
  padding-bottom: 19rem;
  display: flex;
  flex-direction: column;
  gap: 6.2rem;
  position: relative;
  overflow-y: hidden;

  .rectangle {
    position: absolute;
    z-index: -1;
    pointer-events: none;

    @include medias.small {
      width: 100px;
    }

    @include medias.small-medium {
      width: 100px;
    }
  }

  .rectangle:nth-child(1) {
    right: 0;
    bottom: 20px;
  }

  .rectangle:nth-child(2) {
    left: -58px;
    bottom: -50px;
  }
}

@include medias.small {
  .rectangle:nth-child(1) {
    top: 0;
  }

  .rectangle:nth-child(2) {
  }
}

@include medias.small-medium {
  .rectangle:nth-child(1) {
    top: 0;
  }

  .rectangle:nth-child(2) {
  }
}

.contato-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10.8rem;
  margin-top: 6.2rem;

  @include medias.small {
    align-items: center;
    flex-direction: column;
    gap: 4.2rem;
  }

  @include medias.small-medium {
    align-items: center;
    flex-direction: column;
    gap: 4.2rem;
  }
}

.contato-images {
  display: flex;
  flex-direction: column;
  gap: 6.8rem;
  width: 50%;

  @include medias.small {
    width: 100%;
    gap: 4.2rem;
    margin-bottom: 6rem;
  }

  @include medias.small-medium {
    width: 100%;
    gap: 4.2rem;
    margin-bottom: 6rem;
  }
}

.contato-form {
  width: 50%;
  min-height: 100%;
  height: 100%;

  @include medias.small {
    width: 90%;
  }

  @include medias.small-medium {
    width: 90%;
  }
}

.contato-image:nth-child(1) {
  align-self: flex-start;
}

.contato-image:nth-child(2) {
  align-self: flex-end;
}

@include medias.small {
  .contato-image:nth-child(1) {
    align-self: center;
  }

  .contato-image:nth-child(2) {
    align-self: center;
  }
}

@include medias.small-medium {
  .contato-image:nth-child(1) {
    align-self: center;
  }

  .contato-image:nth-child(2) {
    align-self: center;
  }
}

.contato-image {
  width: 38rem;
  height: 263.843px;
  position: relative;

  .background {
    background: #fff;
    box-shadow: 0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.04),
      0px 100px 80px 0px rgba(0, 0, 0, 0.07);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 28px;
    top: 20px;
    z-index: -1;
  }

  @include medias.small {
    width: 90%;
    height: auto;

    .background {
      left: 10px;
      top: 12px;
    }
  }

  @include medias.small-medium {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;

    .background {
      top: 12px;
      width: 38rem;
      left: 60px;
    }
  }
}

.contato-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;

  label {
    p {
      font-size: 1.4rem;
      font-weight: 300;
      color: #9e9696;
      margin-bottom: 0.6rem;
    }

    input {
      height: 4.2rem;
      border: 1px solid #9e9696;
      width: 100%;
      padding: 1.6rem 0.8rem;
      transition: 0.5s ease;
      outline: none;
    }

    input::placeholder {
      color: #9e9696;
      font-size: 1.2rem;
      font-weight: 300;
      transition: 0.5s ease;
    }

    input:focus {
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    input:focus::placeholder {
      opacity: 0;
    }
  }

  input,
  textarea {
    color: #9e9696;
    font-size: 1.2rem;
  }

  textarea {
    height: 14.4rem;
    border: 1px solid #9e9696;
    width: 100%;
    padding: 1.6rem 0.8rem;
    resize: none;
    outline: none;
    transition: 0.5s ease;

    &:focus {
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
  }

  textarea::placeholder {
    color: #9e9696;
    font-size: 1.2rem;
    font-weight: 300;
    transition: 0.5s ease;
  }

  button {
    font-size: 1.4rem;
    margin-top: 3.8rem;
    cursor: pointer;
  }

  button:hover {
    color: variables.$primary-color;
  }
}

/* Localizacao */

.localizacao {
  color: #fff;
  padding-top: 8.6rem;
  background: rgb(20, 20, 20);
  background: linear-gradient(
    -190deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(16, 16, 16, 1) 70%,
    rgba(211, 213, 72, 1) 140%
  );
  padding-bottom: 19.1rem;

  @include medias.small {
    padding-bottom: 8.6rem;
  }

  @include medias.small-medium {
    padding-bottom: 8.6rem;
  }
}

.localizacao-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6.2rem;

  .localizacao-infor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.5rem;
    margin-top: 7.2rem;

    @include medias.small {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    @include medias.small-medium {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    @include medias.medium {
      gap: 2.2rem;
      width: 90%;
    }
  }

  .mapa {
    width: 60rem;
    height: 35rem;

    iframe {
      height: 100%;
      width: 100%;
    }

    @include medias.small {
      height: 35rem;
      width: 80%;
    }

    @include medias.small-medium {
      height: 35rem;
      width: 80%;
    }
  }

  .localizacao-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    font-weight: 500;

    @include medias.small {
      font-weight: 200;
      font-size: 1.4rem;
    }

    @include medias.small-medium {
      font-weight: 200;
      font-size: 1.4rem;
    }

    @include medias.medium {
      font-weight: 200;
      font-size: 1.4rem;
    }
  }
}
