@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    width: 100%;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    display: block;
}

li {
    list-style: none;
}

.align-container {
    width: 90%;
    max-width: 144rem;
    margin: 0 auto;
}

.subtitle-section {
    display: grid;
    place-items: center;

    h2 {
        font-size: 2.8rem;
        text-align: center;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    .line {
        width: 21.3rem;
        height: .2rem;
    }
}

.text-section {
    font-weight: 300;
    text-align: center;
    line-height: 184.5%;
    max-width: 55rem;
    margin: 0 auto;
    margin-top: 14px;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.purple {
    background-color: variables.$primary-color;
}

.yellow {
    background-color: variables.$secondary-color;
}